{
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "quotes": ["warn", "single", {"avoidEscape": true}],
        "semi": ["error", "never"],
        "no-console": "off",
        "no-unused-vars": "warn",
        "no-cond-assign": "off",
        "space-before-function-paren": ["error", "always"],
        "space-before-blocks": ["error", "always"],
        "keyword-spacing": ["error", {"before": true, "after": true}]
    }
}
