/* Column and layout stuff */
.panel.builder {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	max-height: 100%;
	display: grid;
	grid:
		"info toolbar search" 33px
		"info deck    search" calc(100% - 33px)
		/ 251px auto 251px;
}
.card-info-sidebar {
	grid-area: info;
	padding: 10px;
	border-right: 1px solid #DDD;
	background: #EEE;
	overflow-y: scroll;
}

.search-sidebar {
	grid-area: search;
	padding: 10px;
	border-left: 1px solid #DDD;
	background: #EEE;
}

.toolbar {
	grid-area: toolbar;
	background: #F7F7F7;
	border-bottom: 1px solid #DDD;
	line-height: 32px;
	padding: 0 10px;
}

.deck-display {
	grid-area: deck;
	padding: 5px 10px;
}

.deck-display .cardList {
	max-width: 800px;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

/* More generic card stuff */
.cardList {
	display: flex;
	margin: 0;
	padding: 0;
}
.card {
	width: 80px;
	list-style: none;
}
.card-preview {
	display: block;
	width: 100%;
	margin: 0;
}

/* Search results don't need to be next to each other like that */
#right .cardList {
	justify-content: space-between;
}
#right .cardList .card {
	margin-bottom: 5px;
}

#search input {
	text-align: center;
}

/* Preview image and left panel stuff */
#previewCard {
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
}

#cardInfo p {
	margin: 5px 0;
}

#cardsName {
	text-align: center;
	font-weight: bold;
}

#cardsText {
	height: 250px;
	width: 100%;
	overflow: scroll-y;
	margin: 0;
	resize: none;
}

textarea#cardsText:empty {
	display: none;
}
