/* Column and layout stuff */
.panel.builder {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: stretch;
}
#left {
	flex: 0 1 250px;
	order: 0;
	padding: 10px;
	border-right: 1px solid #DDD;
	background: #EEE;
}

#exit{
  position:absolute;
  top: 96%;
}

#center {
	flex: 1;
	order: 1;
	display: flex;
	flex-direction: column;
}
#right {
	flex: 0 1 250px;
	order: 2;
	padding: 10px;
	border-left: 1px solid #DDD;
	background: #EEE;
}
#top {
	flex: 0 1 auto;
	background: #F7F7F7;
	padding: 5px 10px;
	border-bottom: 1px solid #DDD;
}
#deckDisplayWrap {
	flex: 1;
	overflow: auto;
}
#deckDisplayWrap .cardList {
	max-width: 800px;
	margin: 0 auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}

/* More generic card stuff */
.cardList {
	display: flex;
	margin: 0;
	padding: 0;
}
.card {
	width: 80px;
	list-style: none;
}
.card-preview {
	display: block;
	width: 100%;
	margin: 0;
}

/* Search results don't need to be next to each other like that */
#right .cardList {
	justify-content: space-between;
}
#right .cardList .card {
	margin-bottom: 5px;
}

#search input {
	text-align: center;
}

/* Preview image and left panel stuff */
#previewCard {
	margin-bottom: 0px;
	padding: 0px;
	width: 100%;
}

#cardInfo p {
	margin: 5px 0;
}

#cardsName {
	text-align: center;
	font-weight: bold;
}

#cardsText {
	height: 250px;
	width: 100%;
	overflow: scroll-y;
	margin: 0;
	resize: none;
}

textarea#cardsText:empty {
	display: none;
}
