body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.header {
    flex: 0 0 auto;
    background: #F7F7F7;
    border-bottom: 1px solid #BBB;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.header .title {
    display: inline;
    margin: 0;
    font-size: inherit;
}
.header .title a {
    color: inherit;
    text-decoration: inherit;
}

.header .username-form { margin: 0 }

.panels {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.panel { flex: 1 1 100%; }
.panel + .panel { border-left: 1px solid #BBB }
