body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
.header {
    flex: 0 0 auto;
    background: #F7F7F7;
    border-bottom: 1px solid #BBB;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.header .title {
    display: inline;
    margin: 0;
    font-size: inherit;
}
.header .title a {
    color: inherit;
    text-decoration: inherit;
}

.header .username-form {
    margin: 0;
}

.panels {
    flex: 1 0 auto;
    display: flex;
}
.panel {
    flex: 1 1 100%;
}
.panel + .panel { border-left: 1px solid #BBB }
.panel.tabbed {
    display: flex;
    flex-direction: column;
}
.panel.tabbed .panel-tabs {
    flex: 0 0 32px;
    height: 32px; background: red;
}
.panel.tabbed .panel-content {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
}
.panel.tabbed .panel-content > * {
    flex: 1 1 100%;
}

#roomList:empty::after {
    content: "There are no rooms!?"
}
.username-label {
    cursor: pointer;
}


.lobby .panel-content .chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chat-display {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}
.messages {
    flex: 1 1 100%;
    display: table;
    width: 100%;
    border-spacing: 0;
}
.users {
    flex: 0 0 150px;
    border-left: 1px solid #BBB;
    background: #F7F7F7;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: monospace;
}
.user {
    padding: 1px 5px;
    border-bottom: 1px dotted #DDD;
}
.user.owner:after {
    content: " *";
    color: red;
}

.message {
    display: table-row;
    font-family: monospace;
}
.message:hover {
    background: #F7F7F7;
}
.message .timestamp, .message .author, .message .content {
    padding: 1px 5px;
    display: table-cell;
    vertical-align: top;
}
.message .timestamp {
    opacity: .7;
    padding-right: 0;
}
.message .author {
    border-right: 1px solid #BBB;
    text-align: right;
}
.message .content {
    width: 100%;
}
.hidden {
    font-size: 0;
}
.message.system .content { color: #666 }
.message.join .author { color: green }
.message.leave .author { color: red }

.chat-bar {
    flex: 0 0 32px;
    border-top: 1px solid #BBB;
    display: flex;
}
.chat-bar input {
    flex: 1 1 100%;
    border: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}
.chat-bar button {
    flex: 0 0 151px;
    height: 100%;
}

.panel.tabbed .panel-content .rooms { padding: 10px }
