body {
	margin: 0;
	padding: 0;
}

a {
  color: #00B7FF;
}

.card {
  display: linline-block;
}
.card-preview{
	width:100px;
	margin:0px;
}

#search input{
    text-align: center;
}

ul {
    padding: 0;
}

.card {
    list-style: none;
}

#col-right{
    float:right;
    width:250px;
}

/* Here starts the left sidebar stuff */

#col-left {
  width: 250px;
  margin: 10px;
}

#previewCard{
	margin-bottom: 0px;
	padding: 0px;
    width:100%;
}

#cardInfo p {
  margin: 5px 0;
}

#cardsName {
  text-align: center;
}

#cardsText {
    height:250px;
    width:100%;
    overflow:scroll-y;
    margin: 0;
    resize: none;
}

textarea#cardsText:empty{
	display:none;
}
