body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

a {
  color: #00B7FF;
}

.card-preview{
	width:100px;
	margin:0px;
}

.search input{

}

ul {
  padding: 0;
}
.card {
  list-style: none;
}

#col-right{
float:right;
width:250px;	
}

#col-left{

}