doctype html
html
  head
    title Batoru
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    <img id="placeholder" src=http://i.imgur.com/zKrhNaW.png>
    <img id="nanashi" src="http://i.imgur.com/YcMdHLJ.jpg" style="width:125px;height:175px;">

    <script src='javascripts/mouseover.js'>  </script>
