doctype html
html
  head
    title Batoru
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    // <img id="placeholder" src=http://i.imgur.com/zKrhNaW.png>
    // <img id="nanashi" src="http://i.imgur.com/YcMdHLJ.jpg" style="width:125px;height:175px;">

    // this shit searches out card names
    #search
      <input type="text" id="cardName" onkeyup="search()" placeholder="Search for card name">

    // List that will contain card placeholders - children are added dynamically
    ul#results

    #scripts
      <script src='javascripts/builder.js'></script>
